<div id="<%= modal_id %>" class="modal hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-6xl h-3/4 relative overflow-y-auto">
    <span class="close absolute top-2 right-2 text-2xl cursor-pointer">&times;</span>
    <div id="modal_body" class="max-h-full overflow-y-auto"></div>
  </div>
</div>
